<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel = "stylesheet" href="/css/styles.css">
    <link rel = "shortcut icon" type="image/png" href="/css/logo-3.png"> 
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <title>What If...?</title>
</head>
<body> 
  <nav>
    <h4>What If...?</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/links">Links</a></li>
      <li><a href="/problems">Problemas</a></li>
      <li><a href="/about">Sobre</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">What If...?</h1>
      <p class="lead">Definido como um oráculo, <i>What If...?</i> tem o objetivo de oferecer suporte à fase 1 do processo de programação, entendimento do problema.</p>
      <hr class="my-4">
      <p>Utilizando o conceito de testes de entrada e saída para interagir com o sistema é possível verificar o entendimento sobre os enunciados dos problemas.</p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">Saiba mais</a>
    </div>
  </div>

</body>
</html>