<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel = "stylesheet" href="/css/styles.css">
    <link rel = "shortcut icon" type="image/png" href="/css/logo-3.png"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    </script>
    <title>What If...?</title>
</head>
<body> 
  <nav>
    <h4>What If...?</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/links">Links</a></li>
      <li><a href="/problems">Problemas</a></li>
      <li><a href="/about">Sobre</a></li>
    </ul>
  </nav>

        <main class="container my-5">
            <div class="row">
                <div class="col-md-4">
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="#what">O que é um oráculo?</a>
                        <a class="list-group-item list-group-item-action" href="#how">Como funciona o <i>What If...?</i></a>
                        <a class="list-group-item list-group-item-action" href="#contact">Contato</a>
                    </div>
                </div>
                <div class="col-md-8" style="height:500px;overflow-y: scroll;" data-spy="scroll"
                    data-target="#listexample" data-bs-offset="0" tabindex="0">
                    
                    <h4 id="what"><b>O que é um oráculo?</b></h4>
                    <p>Ainda que você tenha alguma noção do que seja um oráculo, é bem provável que ela esteja permeada por mitos 
                    ou informações incompletas. É comum ver em filmes que o oráculo 
                    é um indivíduo cheio de energia mística que dá respostas vindas dos deuses, ou até mesmo lê o futuro. </p>
                    <p>A verdade é que o oráculo é uma ferramenta, ou intermediário, que acessa respostas dadas por uma divindade. </p>
                    <p>Nos dias de hoje, ele é igualmente atribuído a um 
                    objeto ou meio pelo qual alguém possa obter respostas para um esclarecimento maior. </p>
                    
                    <h4 id="how"><b>Como funciona o <i>What If...?</i></b></h4>
                    <p>Com o <i>What If...?</i> trouxemos este conceito relacionado à divindades ao mundo da programação!</p>
                    <p>Nós programadores temos que lidar com o resolução de diversos problemas e muitas vezes é difícil
                    seguir na implementação sem o total entendimento dos enunciados, das especificações.
                    </p>
                    <p>Isto posto, a ideia é que você desenvolvedor possa perguntar, através de testes de entrada e saída, sobre o comportamento
                    esperado de determinado problema, validando seu entendimento e seguindo adiante nas demais fases do processo de programação.
                    </p>
                    <p>Veja o vídeo a seguir para entender melhor como o <i>What If...?</i> funciona.</p>
                    
                    <h4 id="contact"><b>Contato</b></h4>
                    <p>Desenvolvido por: André Almeida</p>
                    <p>E-mail: anddre.almd@gmail.com</p>

                </div>
            </div>
        </main>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script>
            var scrollSpy = new bootstrap.ScrollSpy(document.body, {
                target: '#scrollspy-list'
            })
        </script>
</body>
</html>